script(src='js/index.js')

.messages
    h2 Messages
    ul.container

.players
    for player in players
        .player
            .uid= player.uid
            .color= player.color
            .name= player.name